# 工具包和临时下载文件(防止将JDK和Maven推送到Git)
jdk-17.0.2/
apache-maven-*/
*.tar.gz
*.zip
*.sh

# 后端
backend/target/
backend/*.iml
backend/.idea/

# 前端
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.npm/

# IDE & OS
.vscode/
.idea/
.DS_Store
*.log
